
/* Общие стили для всех страниц */
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Стиль для десктопной версии */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    background: rgba(255, 255, 255); /* Прозрачный белый фон */
    padding: 20px;
    width: 50%;
    text-align: center;
  }
  .highlight {
    font-size: 18px;
    font-weight: bold;
  }
}

/* Стиль для мобильной версии */
@media (max-width: 767px) {

  .content {
    background: rgba(255, 255, 255, 0.7); /* Прозрачный белый фон */
    padding: 20px;
    width: 80%;
    text-align: center;
  }
  .highlight {
    font-size: 9px; /* Уменьшение размера шрифта в два раза */
    font-weight: bold;
  }
}
