body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.container:first-child {
  background-image: url(https://i.yapx.ru/WNfLL.jpg);
  background-size: cover;
  height: 100vh;
}

.frame {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 50%; /* Adjust the width to make it smaller */
  height: 50%; /* Adjust the height to make it smaller */
  padding: 10px; /* Adjust the padding as needed */
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid white;
  z-index: 1;
}

.portfolio-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem; /* Increased font size */
  color: white;
  z-index: 2;
}

.frame-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.container:nth-child(2) {
  display: flex;
  flex-direction: row;
  position: relative;
}

.photo {
  flex: 1;
  background-image: url(https://i.ibb.co/XkMBjy9/golden-monstera-leaves-background-design-resource-croped.jpg);
  background-size: cover;
  background-position: center;
}

.text {
  flex: 1;
  background-color: black;
  padding: 20px;
  color: white;
}

#container {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: stretch;
}

.special-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid #ffdc33;
  width: calc(33.33% - 40px);
  height: 100%;
  font-size: 12px; 
}

.special-frame:hover {
  background-color: #333;
}


.container:nth-child(2) .photo {
  flex: 1;
  background-image: url(https://i.ibb.co/XkMBjy9/golden-monstera-leaves-background-design-resource-croped.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contact-container {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  height: auto;
}

.email-link {
  color: #ffdc33;
}

@media only screen and (max-width: 480px) {
  /* Media query for smaller screens */
  .desktop-br {
    display: none;
  }
  .photo {
    display: none;
  }
  .container:nth-child(2) {
    flex-direction: column;
    height: auto;
  }
  .container:nth-child(2) .photo {
    display: none;
  }
  .container {
    flex-direction: column;
  }
  .text {
    padding-top: 0px;
  }
  .portfolio-title {
    color: white;
    font-size: 3em;
    text-align: center;
  }
  #container {
    flex-direction: column;
    height: auto;
  }
  .special-frame {
    width: 60%;
    margin-right: 0;
    margin-left: 60px;
  }
  .special-frame:nth-child(1),
  .special-frame:nth-child(2),
  .special-frame:nth-child(3) {
    width: 60%;
    margin-right: 0;
  }
  .text {
    color: white;
  }
}

@media only screen and (min-width: 481px) {
  /* Media query for larger screens */
  #container {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: stretch;
  }

  .special-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    border: 2px solid #ffdc33;
    width: calc(33.33% - 40px);
    height: 100%;
  }
}
