/* Common styles for all screen sizes */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.container:first-child {
  background-image: url(https://i.yapx.ru/WNfLL.jpg);
  background-size: cover;
  height: 100vh;
}

.frame {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid white;
  z-index: 1;
}

.portfolio-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  z-index: 2;
}

.frame-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.container3, .container4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

.special-frame {
  flex: 1 1 calc(33.33% - 40px); /* 3 колонки */
  margin: 20px 10px;
  color: white;
  border: 2px solid #ffdc33;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.special-frame img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.special-frame .rectangle {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.contact-container {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.email-link {
  color: #ffdc33;
}

#language-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border: 2px solid #ffdc33;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

/* Media queries */
@media only screen and (max-width: 480px) {
  .container3, .container4 {
    flex-direction: column;
    padding: 10px;
  }

  .special-frame {
    width: 90vw;
    margin: 20px auto;
  }

  .portfolio-title {
    font-size: 3em;
  }

  .email-link {
    color: #ffdc33;
  }

  .special-frame img {
    width: 100%;
    height: auto;
  }
}

