/* Общие стили для всех экранов */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Эффект для рамок */
.special-frame {
  transition: transform 0.3s ease, border-color 0.3s ease; /* Плавный переход */
}

.special-frame:hover {
  transform: scale(1.05); /* Увеличение */
  border-color: #ffb300; /* Изменение цвета рамки на оранжевый при наведении */
}

.special-frame img {
  transition: transform 0.3s ease; /* Плавное изменение */
}

.special-frame:hover img {
  transform: scale(1.05); /* Немного увеличиваем изображение при наведении */
}

.container1 {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-image: url(background1.jpg);
  background-size: cover;
  height: 100vh; /* Высота 100vh для десктопа */
}

.frame {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid white;
  z-index: 1;
}

.portfolio-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  z-index: 2;
}

.frame-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.container2 {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: black;
}

.photo {
  flex: 1;
  background-image: url(https://i.pinimg.com/564x/94/6b/bd/946bbd50b7b538f4a482d206a49d1147.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  max-width: 50%;
}

.text {
  flex: 1;
  background-color: black;
  padding: 0 20px;
  color: white;
}

#container {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: stretch;
}

#language-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border: 2px solid #ffdc33;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

/* Стили для специальных фреймов */
.special-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid #ffdc33 !important;
  width: 50%; /* Устанавливаем 100% ширины */
  height: 100%;
  font-size: 24px;
  box-sizing: border-box; /* Учитываем границы в размере */
}

.special-frame:hover {
  background-color: #333;
}

.contact-container {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  height: auto;
}

.email-link {
  color: #ffdc33;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

/* Используем CSS Grid для контейнера с кейсами */
.Flexbox-container {
  display: grid; /* Переход на CSS Grid */
  grid-template-columns: repeat(3, 1fr); /* Три колонки на больших экранах */
  gap: 20px; /* Расстояние между фреймами */
  justify-items: center; /* Центрируем элементы в пределах колонок */
  grid-auto-rows: 1fr; /* Высота строк автоматически растягивается до равного значения */
  align-items: stretch; /* Все ячейки растягиваются по высоте */
  padding: 20px;
}

.Flexbox-container .special-frame {
  display: flex;
  flex-direction: column; /* Вертикальное расположение содержимого внутри */
  justify-content: space-between; /* Обеспечивает равномерное распределение пространства */
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%; /* Устанавливает высоту на 100% */
  width: 50%; /* Ширина ячеек — 50% от контейнера */
  box-sizing: border-box; /* Учитываем границы в размере */
}

/* Мобильная версия */
@media only screen and (max-width: 480px) {
  .desktop-br {
    display: none;
  }

  .photo {
    display: none;
  }

  .container2 {
    flex-direction: column;
    height: auto;
  }

  .container1 {
    flex-direction: column;
  }

  .text {
    padding-top: 0px;
  }

  .portfolio-title {
    color: white;
    font-size: 3em;
    text-align: center;
  }

  #container {
    flex-direction: column;
    height: auto;
  }

  .special-frame {
    width: 80%; /* Для мобильной версии ячейки занимают 80% ширины */
    margin: 0 auto 20px auto;
    height: auto; /* Делаем высоту автоматической для мобильной версии */
  }

  .Flexbox-container {
    grid-template-columns: 1fr; /* Для мобильных устройств показываем по одному элементу в ряду */
    gap: 10px; /* Меньше расстояние между элементами */
  }

  .contact-container {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
  }

  .container1 {
    height: 100vh; /* Высота 100vh для мобильной версии */
  }
}
